body{
  background-image: url("./8f13a755749e26a61bd9a996b063d636.jpg");
  background-size: cover;
}

.info {
  width: 30%;
  padding: 30px;
  color: black;
  font-size: 20px;
  
}

input { width: 450px;
border-radius: 5px;
padding: 10px 15px; 
border: 1px solid black;
margin: 8px 0;
border-radius: 5px;
}

 

.ContactInfo {
  padding: 30px;
  color: black;
}

.addnew {
  padding: 8px;
 background-color: rgb(5, 68, 5);
 border-radius: 5px;

}
.remove {
  padding: 8px;
  background-color:red;
  border-radius: 5px;

}

.btn {
  width: 100px;
  border-radius: 4px;
  background-color: rgb(82, 55, 55);
  color: whitesmoke;
  
}